{{ block "task" . }}

<div id="task-{{.ID}}">
  <div>ID: {{.ID}}</div>
  <div>Description: {{.Description}}</div>
  <div>Priority: {{.Priority}}</div>
  <div>Status: {{.Status}}</div>

  <select
    name="status"
    autocomplete="off"
    hx-post="/task/status/{{.ID}}"
    hx-target="#task-{{.ID}}"
    hx-swap="delete"
  >
    <!-- prettier-ignore -->
    <option value="BACKLOG" {{ if eq .Status `BACKLOG` }} selected="selected" {{ end }}>
      Backlog
    </option>

    <!-- prettier-ignore -->
    <option value="TODO" {{ if eq .Status `TODO` }} selected="selected" {{ end }}>
      Todo
    </option>

    <!-- prettier-ignore -->
    <option value="DOING" {{ if eq .Status `DOING` }} selected="selected" {{ end }}>
      Doing
    </option>

    <!-- prettier-ignore -->
    <option value="DONE" {{ if eq .Status `DONE` }} selected="selected" {{ end }}>
      Done
    </option>
  </select>

  <button
    type="button"
    hx-get="/task/update/{{.ID}}"
    hx-target="#task-{{.ID}}"
    hx-swap="innerHTML"
  >
    Edit
  </button>

  <button
    type="button"
    hx-delete="/task/delete/{{.ID}}"
    hx-target="#task-{{.ID}}"
    hx-swap="delete"
  >
    Delete
  </button>
</div>

{{ end }}
